#pages {
    display: flex;
}
#box1{
    border:1px solid rgb(6, 5, 5);
    width: 20%;
    height: 100vh;
}
#box2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#box2 div{
    width: 300px;

}
#box2 div img{
    width: 200px;
    height: 200px;
}