*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1140px;
    margin: auto;
}
/* header */
header{
    background-color: #1a4d80;
    padding: 15px 0px;
}
header .logo h2{
    color:#fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.justifly{
    justify-content: space-between;
}
.align{
    align-items: center;
}
nav ul li a{
    color:white;
    font-size: 20px;
}
nav ul li{
    padding: 0px 30px;

}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.form{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
#usedata{
    background: linear-gradient(90deg,rgba(3, 44, 52, 0.353) 0%,rgba(9, 9, 121, 0.212)  79%);
    border-radius: 20px;
    width: 350px;
    padding: 20px 40px;
    border: 2px solid rgba(166, 110, 110, 0.449);
}
#form{
    background: linear-gradient(90deg,rgba(0,212,255,0.35340073529411764) 0%,rgba(115, 115, 168, 0.212)  79%);
    border-radius: 20px;
    width: 350px;
    padding: 20px 40px;
    border: 2px solid rgba(255, 255, 255, 0.449);
}
.form-control{
    margin-bottom: 15px;
}
.form-control label{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}
.form-control input{
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    margin-top: 8px;
    outline: none;
    border: 2px solid rgb(220, 171, 171);
}
.form-control input:focus{
    border: 2px solid #4d4a4a;

}
.form-control small{
    color: red;
    font-family: sans-serif;
    font-weight: 600;
}
.form-control small p{
    visibility: hidden;
}







